#buttoncontainer{display:none;}

.timer_container {
	position: fixed;
	width: 90%;
	text-align: center;
	left: 5%;
	top: 5%;
}
#timeleftdisplay{
	margin-top: -216px;
	font-size: 32px;
	font-weight: bold;
}
#timedisplay{
	font-size: 16px;
	font-family: Hack, monospace;
}

.overtime{
	color: red;
}