html(ng-app="rpt")
	head
		meta(name='viewport',content='width=device-width')
		title RaM pitch timer control
		link(rel='stylesheet', href='/style/main.css')
		script(src='lib/primus.js')
		script(src='lib/angular.min.js')
		script(src='js/control.js')
	
		body
			.main(ng-controller="ControlCtrl")
				h1 TIMER CONTROL
				p.error {{ error }}
				p.message
					span.timestamp {{ message.t |date:'HH:mm:ss' }} 
					span {{ message.message }}
				
				
				table
					tr
						th Period
						th Time
					tr
						td
							input(ng-model="timeleft")
						td
							input(ng-model="T")
					tr
						td
							input(type='button',ng-click='set_time()',value='Set time')
							input(type='button',ng-click='reset_time()',value='Reset')
								
						td
							input(type='button',ng-click='set_period()',value='Set T')
				table
					tr
						td
							input(type='button',ng-click='start()',value='START')
						td
							input(type='button',ng-click='stop()',value='STOP')
					tr
						td
							input(type="button",ng-click="set()",value="SET")
				