html
	head
		meta(name='viewport',content='width=device-width')
		title RaM pitch timer control
		link(rel='stylesheet', href='/style/main.css')
		script(src='lib/primus.js')
		script(src='lib/jquery-3.0.0.js')
		script(src='js/control.js')
	
		body
			.main
				h1 TIMER CONTROL
				table
					tr
						th Period
						th Time
					tr
						td
							input#timeleft(value=300)
						td
							input#T(value=300)
					tr
						td
							input#set_time(type='button',value='Set time')
							input#reset_time(type='button',value='Reset')
								
						td
							input#set_period(type='button',value='Set T')
				table
					tr
						td
							input#start(type='button',value='START')
						td
							input#stop(type='button',value='STOP')