html
	head
		meta(name='viewport',content='width=device-width')
		title RaM pitch timer control
		link(rel='stylesheet', href='/style/main.css')
		link(rel='stylesheet', href='/style/control.css')
		script(src='lib/primus.js')
		script(src='lib/jquery-3.0.0.js')
		script(src='js/control.js')
	
		body
			.main
				h1 TIMER CONTROL
				h2 Time settings
				p Input as "ssss" or "m:ss"; example 5 minutes: "300" (seconds) or "5:00"
				table
					tr(class='advanced')
						td
							label t
						td
							input#timeleft(type='text',value=300)
						td
							input#set_time(type='button',value='SET')
					tr
						td
							label T
						td
							input#T(type='text',value=300)
						td
							input#set_period(type='button',value='SET')
				p
					input#reset_time(type='button',value='Reset')
					input#bsc(type='button',value='BSc')
					input#msc(type='button',value='MSc')
					input#start(type='button',value='Start')
					input#stop(type='button',value='Stop / Pause')
				p#advanced_container
					label(for='advanced')
						input#advanced(type='checkbox')
						| Show advanced controls