html(ng-app="rpt")
	head
		meta(name='viewport',content='width=device-width')
		title RaM pitch timer
		link(rel='stylesheet', href='/style/main.css')
		link(rel='stylesheet', href='/style/home.css')
		script(src='lib/primus.js')
		script(src='lib/angular.min.js')
		script(src='js/home.js')
	
		body
			.main(ng-controller="HomeCtrl")
				h1 TIMER
				p.error {{ error }}
				p.message
					span.timestamp {{ message.t |date:'HH:mm:ss' }} 
					span {{ message.message }}
				p {{ timeleft|duration }}
				p {{ ts|date:'HH:mm:ss' }}
				
				svg(width='400',height='400')
					circle(cx='200',cy='200',r='180',stroke-width="40",fill="white",ng-attr-stroke="{{colour}}")
					polygon(ng-attr-points="{{polypoints}}",style="fill:white;stroke:none")