html
	head
		meta(name='viewport',content='width=device-width')
		title RaM pitch timer
		link(rel='stylesheet', href='/style/main.css')
		link(rel='stylesheet', href='/style/home.css')
		script(src='lib/primus.js')
		script(src='lib/jquery-3.0.0.js')
		script(src='js/home.js')
	
		body
			.main
				h1 TIMER
				p.error {{ error }}
				
				p#timedisplay
				
				p#startbutton START
				p#stopbutton STOP
				
				.timer_container(ng-show="is_active")
					svg#clockface(width='400',height='400')
						circle(cx='200',cy='200',r='180',stroke-width="40",fill="white",ng-attr-stroke="{{colour}}")
						polygon(points="0,0 1,1",style="fill:white;stroke:none")
					p#timeleftdisplay