doctype html
html
	head
		meta(name='viewport',content='width=device-width')
		title RaM pitch timer
		link(rel='stylesheet',href='//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css')
		link(rel='stylesheet', href='/style/main.css')
		link(rel='stylesheet', href='/style/home.css')
		script(src='lib/primus.js')
		script(src='lib/jquery-3.0.0.js')
		script(src='js/home.js')
	
		body
			#buttoncontainer
				p#startbutton START
				p#stopbutton STOP
			
			.main
				.timer_container
					svg#clockface(width='400',height='400')
						path(id='arc',d='M200,20 A180,180 0 0,1 200,380',style='fill:none;')
					p#timeleftdisplay &nbsp;
					p#timedisplay