doctype html
html
	head
		meta(name='viewport',content='width=device-width')
		title RaM pitch timer
		link(rel='stylesheet',href='//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css')
		link(rel='stylesheet', href='/style/main.css')
		link(rel='stylesheet', href='/style/home.css')
		script(src='lib/primus.js')
		script(src='lib/jquery-3.0.0.js')
		script(src='js/home.js')
	
		body
			#buttoncontainer
				p#startbutton START
				p#stopbutton STOP
			
			.main
				.timer_container
					svg#clockface(width='400',height='400')
						circle(cx='50%',cy='50%',r='45%',stroke-width="10%",fill="white",ng-attr-stroke="{{colour}}")
						polygon(points="0,0 1,1",style="fill:white;stroke:none")
					p#timeleftdisplay
					p#timedisplay